<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farms</title>
  </head>
  <body>
    <h1>The Farms</h1>
    <ul>
      <% for(let farm of farms) { %>
      <li>
        <a href="/farm/<%=farm._id%>"><%= farm.name %></a>
        <a href="/farm/<%=farm._id%>/delete">Delete</a>
      </li>
      <% } %>
    </ul>
    <a href="/farms/new">Add a farm</a>
  </body>
</html>
