<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Farm</title>
  </head>
  <body>
    <h1>Add a Farm</h1>
    <form action="/farms" method="POST">
      <p>
        <label for="name">Enter Farm Name: </label>
        <input type="text" id="name" name="name" placeholder="Product Name" />
      </p>
      <p>
        <label for="city">City: </label>
        <input type="text" id="city" name="city" placeholder="City Name" />
      </p>
      <p>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" placeholder="Email" />
      </p>
      <button type="submit">Submit</button>
      <a href="/products">Cancel</a>
    </form>
  </body>
</html>
